/* Title */
.Title {
    transition: transform 1s ease-in-out;
    transition-delay: 0.5s;
    transform: translateY(100vh);
}
.Title.loaded {
    transform: translateY(0);
}
.Title.loaded.activePiece {
    transform: translateY(100vh);
    transition-delay: 0s;
}