/* BottomRight */
.BottomRight {
    background-image: -webkit-radial-gradient(circle at 50% 0%, transparent 12%, #9561e2 0);
    background-image: radial-gradient(circle at 50% 0%, transparent 12%, #9561e2 0);
    transition: transform 1s ease-in-out;
    transform: translate(100vw, 100vh) rotate3d(60, 60, 60, -720deg);
}
.BottomRight.loaded.otherActive {
    transform: translate(100vw, 100vh) rotate3d(60, 60, 60, -720deg);
}
.BottomRight .puzzle-cover {
    width: 26%;
    height: 26%;
    margin-left: -14%;
    left: 0;
}