/* BottomRight */
.TopRight {
    background-image: -webkit-radial-gradient(circle at 0% 50%, transparent 12%, #FFFFFF 0);
    background-image: radial-gradient(circle at 0% 50%, transparent 12%, #FFFFFF 0);
    transition: transform 2s ease-in-out;
    transform: translate(100vw, -100vh) rotate3d(60, 60, 60, -720deg);
}
.TopRight.loaded {
    transform: translate(0, 0) rotate3d(0, 0, 0, 0);
}
.TopRight .puzzle-cover {
    width: 26%;
    height: 26%;
    margin-bottom: -14%;
    bottom: 0;
}